.adjacent-calc-container {
  position: relative;
  font-size: 16px;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  .error {
    color: tomato;
  }
}

.adjacent-calc-cell {
  min-width: 50px;
  padding: 8px 4px;
  margin: 1px;
  display: inline-block;
  border-radius: 10px;
  &.active {
    color: white;
    background-color: rgba(200, 50, 0, 0.5)
  }
}

.adjacent-calc-row {

}
